<div class="responsive-search hide">
    <div class="responsive-search-header">
        <div class="back-mobile-icon">
            <a href="https://rever.vn/#"><i class="zmdi zmdi-hc-2x zmdi-arrow-left"></i></a>
        </div>
        <ul class="tab-bt">
            <li><a id="responsive-suggest-sale" class="active" href="https://rever.vn/#">Mua nhà</a></li>
            <li><a id="responsive-suggest-rent" href="https://rever.vn/#">Thuê nhà</a></li>
        </ul>
    </div>
    <div class="input-search-res">
        <p><i class="font-icon searchicon space-icon"></i></p>
        <input id="input-search-responsive" type="text" class="" placeholder="" autocomplete="off">
        <a href="https://rever.vn/#" class="hide"><i class="zmdi zmdi-close"></i></a>
    </div>
    <div class="search-result-res">
        <ul class="suggest-result">
            <li>
                <ul id="suggest-result-responsive"></ul>
            </li>
            <li id="history-responsive" class="hide">
                <h4> Lịch sử tìm kiếm</h4>
                <ul class="listing"></ul>
            </li>
        </ul>
    </div>
</div>
<div class="header2402">
    <div class="black-background"></div>
    <nav class="header2402-navBar">
        <ul>
            <li><a href="https://rever.vn/">Trang chủ</a></li>
            <li>
                <a href="tel:0901 777 667"> <i class="font-icon fone space-icon"></i><span>0901 777 667</span></a>
            </li>
            <li><a href="/ha-noi/thue">Thuê</a></li>
            <li><a href="/ha-noi/thue">Mua</a></li>
            <li><a href="/ha-noi/thue">Bán</a></li>
            <li><a href="/ha-noi/du-an">Dự án</a></li>
            <li class="diadiem"><a href="https://rever.vn/#register" title="Đăng ký">Đăng ký</a></li>
            <li><a href="https://rever.vn/#login" title="Đăng nhập">Đăng nhập</a></li>
        </ul>
        <a href="https://rever.vn/#" class="actionIcon"></a>
        <div class="actionIcon"></div>
    </nav>
    <div class="width-1600">
        <hgroup>
            <a href="/"> <img style="width:44px" src="~/content/images/logo-r-white.svg" alt="rever"></a>
        </hgroup>
        <a href="https://rever.vn/#" class="menuicon"></a>
        <div class="right-menu">
            <ul>
                <li>
                    <a class="header1506-link rightmenu-link" href="tel:0901 777 667">
                        <i class="font-icon fone space-icon"></i>
                        <span>0901 777 667</span>
                    </a>
                </li>
                <li>
                    <a class="header1506-link rightmenu-link" href="/ha-noi/mua">Mua</a>
                </li>
                <li>
                    <a class="header1506-link rightmenu-link" href="/ha-noi/thue">Thuê</a>
                </li>
                <li><a class="header1506-link rightmenu-link" href="/ha-noi/ban">Bán</a></li>
                <li><a class="header1506-link rightmenu-link" href="/ha-noi/du-an">Dự án</a></li>
                <li><a class="header1506-link rightmenu-link" href="/ha-noi/blog">Blog</a></li>
                <li class="border-navgroup"><a class="header1506-link rightmenu-link" href="https://rever.vn/#register" title="Đăng ký">Đăng ký</a></li>
                <li><a class="header1506-link rightmenu-link" href="https://rever.vn/#login" title="Đăng nhập">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</div>