<div class="responsive-search hide">
    <div class="responsive-search-header">
        <div class="back-mobile-icon">
            <a href="https://rever.vn/#"><i class="zmdi zmdi-hc-2x zmdi-arrow-left"></i></a>
        </div>
        <ul class="tab-bt">
            <li><a id="responsive-suggest-sale" class="active" href="https://rever.vn/#">Mua nhà</a></li>
            <li><a id="responsive-suggest-rent" href="https://rever.vn/#">Thuê nhà</a></li>
        </ul>
    </div>
    <div class="input-search-res">
        <p><i class="font-icon searchicon space-icon"></i></p>
        <input id="input-search-responsive" type="text" class="" placeholder="" autocomplete="off">
        <a href="https://rever.vn/#" class="hide"><i class="zmdi zmdi-close"></i></a>
    </div>
    <div class="search-result-res">
        <ul class="suggest-result">
            <li>
                <ul id="suggest-result-responsive"></ul>
            </li>
            <li id="history-responsive" class="hide">
                <h4> Lịch sử tìm kiếm</h4>
                <ul class="listing"></ul>
            </li>
        </ul>
    </div>
</div>
<div class="header0203 position-fixed">
    <nav id="nav-menu" class="header2402-navBar">
        <ul class="menu-header">
            <li><a href="https://rever.vn/">Trang chủ</a></li>
            <li><a href="tel:0901 777 667"><i class="font-icon fone space-icon"></i><span>0901 777 667</span></a></li>
            <li><a href="/ha-noi/thue">Thuê</a></li>
            <li><a href="/ha-noi/mua">Mua</a></li>
            <li><a href="/ha-noi/ban">Bán</a></li>
            <li><a href="/ha-noi/du-an">Dự án</a></li>
        </ul>
        <div id="btn-close-responsive-menu" class="actionIcon"></div>
    </nav>
    <div class="width-1600">
        <hgroup>
            <a href="/">
                <img alt="rever logo" src="~/content/images/logo-r-red.svg">
            </a>
        </hgroup>
        <a href="https://rever.vn/s/ho-chi-minh/mua?lat=10.771918&amp;lon=106.698347&amp;distance=20000.0&amp;bounds=10.869488824797045,106.77795423876954,10.674308738043397,106.61873976123049&amp;precision=5&amp;zoom=11&amp;sorts=4&amp;view=2&amp;size=18&amp;title=H%E1%BB%93-Ch%C3%AD-Minh#" id="menu-responsive" class="menuiconblack"></a>
        <div class="searchdetailbox">
            <div class="btn-on-off-filter">
                <a href="https://rever.vn/s/ho-chi-minh/mua?lat=10.771918&amp;lon=106.698347&amp;distance=20000.0&amp;bounds=10.869488824797045,106.77795423876954,10.674308738043397,106.61873976123049&amp;precision=5&amp;zoom=11&amp;sorts=4&amp;view=2&amp;size=18&amp;title=H%E1%BB%93-Ch%C3%AD-Minh#"></a>
            </div>
            <form id="suggest-form">
                <div class="sort-topdetail">
                    <button id="btn-select" class="btn-no-style font-16 "><span id="span-current">Mua nhà</span> <span class="font-icon arrow-icon-down icon-sort-red"></span></button>
                    <ul id="select-box" class="suggest-result top-36 hide">
                        <li>
                            <a id="ahref-switch" href="/ha-noi/thue">
                                <span id="span-other">Thuê nhà</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="left pd-search-icon">
                    <i class="font-icon searchicon space-icon"></i>
                </div>
                <div id="search-type-mobile" class="sort-on-mobile">Mua •</div>
                <div class="search-topdetail">
                    <input id="input-search" type="text" class="" placeholder="Nhập địa điểm, khu dân cư, tòa nhà" autocomplete="off" spellcheck="false" dir="auto">
                </div>
                <ul id="suggest-result" class="suggest-result hide"></ul>
            </form>
        </div>
        <div class="menuiconblack"></div>
        <div class="right-menu">
            <ul>
                <li><a href="tel:0901 777 667"><i class="font-icon fone space-icon"></i> <strong class="font-14">0901 777 667</strong></a></li>
                <li><a class="header1506-link rightmenu-linkblack" href="/ha-noi/mua">Mua</a></li>
                <li><a class="header1506-link rightmenu-linkblack" href="/ha-noi/thue">Thuê</a></li>
                <li><a class="header1506-link rightmenu-linkblack" href="/ha-noi/ban">Bán</a></li>
                <li><a class="header1506-link rightmenu-linkblack" href="/ha-noi/du-an">Dự án</a></li>
                <li><a class="header1506-link rightmenu-linkblack" href="/blog">Blog</a></li>
            </ul>
            <ul class="border-navgroup-gray mgl-30">
                <li class="border-navgroup"><a class="header1506-link rightmenu-linkblack" href="https://rever.vn/s/ho-chi-minh/mua?lat=10.771918&amp;lon=106.698347&amp;distance=20000.0&amp;bounds=10.869488824797045,106.77795423876954,10.674308738043397,106.61873976123049&amp;precision=5&amp;zoom=11&amp;sorts=4&amp;view=2&amp;size=18&amp;title=H%E1%BB%93-Ch%C3%AD-Minh#register" title="Đăng ký">Đăng ký</a></li>
                <li class="border-navgroup"><a class="header1506-link rightmenu-linkblack" href="https://rever.vn/s/ho-chi-minh/mua?lat=10.771918&amp;lon=106.698347&amp;distance=20000.0&amp;bounds=10.869488824797045,106.77795423876954,10.674308738043397,106.61873976123049&amp;precision=5&amp;zoom=11&amp;sorts=4&amp;view=2&amp;size=18&amp;title=H%E1%BB%93-Ch%C3%AD-Minh#login" title="Đăng nhập">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</div>