@model RESYS.WEB.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
               @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
												
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="Username" id="UserName" name="UserName" required autofocus/>
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="Password" name="Password" id="Password" required/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" id="RememberMe" name="RememberMe"/>
															<span class="lbl"> Remember Me</span>
														</label>

														@*<button type="button" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">Login</span>
														</button>*@
                                                        <input type="submit" class="width-35 pull-right btn btn-sm btn-primary" value="login" />
													</div>

													<div class="space-4"></div>
           }

