@{
    ViewBag.Title = "Trang chủ";
}
<div class="parallax-flight parallax-home parallaxBg">
    <div class="container">
        <div class="row" style="">
            <div class="col-md-12 ticket-search">
                <div class="close-content">
                    <a href="@Url.Action("Index","Home")">x</a>
                </div>
                <ul class="nav nav-tabs" id="searchForm">
                    <li class="active">
                        <a data-toggle="tab" href="#vemaybay" aria-expanded="true">Vé máy bay</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#khachsan" aria-expanded="false">Khách sạn</a>
                    </li>


                </ul>
                <div class="tab-content flight-result">
                    <div id="vemaybay" class="tab-pane active">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="flight-choice">
                                    <div class="item-flight">
                                       <table class="table header-info">
                                           <tr>
                                               <td class="rowdetail">Chiều đi</td>
                                               <td>từ <b>HÀ NỘI</b>  đến <b>TP HỒ CHÍ MINH</b></td>
                                               <td>thứ Tư ngày 29/06/2015</td>
                                               <td class="detail"><a href="javascript">Xem chi tiết</a></td>
                                           </tr>

                                       </table>
                                    <table class="table tableinfo">
                                        <tr>
                                                <td class="col-lg-1">
                                                    <img src="/images/fl-js.png">
                                                </td>
                                                <td class="col-lg-1">BL886</td>
                                                <td class="col-lg-3">HAN | <b>21:50</b></td>
                                                <td class="col-lg-3">SG | <b>23:50</b></td>
                                                <td class="col-lg-3"><b>1.500.000 VNĐ</b></td>
                                                
                                            </tr>
                                    </table>
                                    <table class="table tabledetail">
                                        <tr>
                                            <td>
                                                <span>Người lớn</span><br />
                                                <span class="countper">2 người</span><br />
                                                <span class="price">3.000.000 đ</span>
                                            </td>
                                            <td>
                                                <span>Trẻ em</span><br />
                                                <span class="countper">0</span><br />
                                            </td>
                                            <td>
                                                <span>Em bé</span><br />
                                                <span class="countper">0</span><br />
                                            </td>
                                            <td>
                                                <span>Thuế phí</span><br />
                                                <span class="price">700.000 đ</span><br />
                                            </td>
                                            <td>
                                                 <span>Hành lý</span><br />
                                                <span class="price">700.000 đ</span><br />
                                            </td>
                                            <td class="total">7.200.000 VNĐ</td>
                                            </tr>
                                    </table>
                                        </div>
                                    <div class="item-flight">
                                       <table class="table header-info">
                                           <tr>
                                               <td class="rowdetail">Chiều về</td>
                                               <td>từ <b>HÀ NỘI</b>  đến <b>TP HỒ CHÍ MINH</b></td>
                                               <td>thứ Tư ngày 29/06/2015</td>
                                               <td class="detail"><a href="javascript">Xem chi tiết</a></td>
                                           </tr>

                                       </table>
                                    <table class="table tableinfo">
                                        <tr>
                                                <td class="col-lg-1">
                                                    <img src="/images/fl-js.png">
                                                </td>
                                                <td class="col-lg-1">BL886</td>
                                                <td class="col-lg-3">HAN | <b>21:50</b></td>
                                                <td class="col-lg-3">SG | <b>23:50</b></td>
                                                <td class="col-lg-3"><b>1.500.000 VNĐ</b></td>
                                                
                                            </tr>
                                    </table>
                                    <table class="table tabledetail">
                                        <tr>
                                            <td>
                                                <span>Người lớn</span><br />
                                                <span class="countper">2 người</span><br />
                                                <span class="price">3.000.000 đ</span>
                                            </td>
                                            <td>
                                                <span>Trẻ em</span><br />
                                                <span class="countper">0</span><br />
                                            </td>
                                            <td>
                                                <span>Em bé</span><br />
                                                <span class="countper">0</span><br />
                                            </td>
                                            <td>
                                                <span>Thuế phí</span><br />
                                                <span class="price">700.000 đ</span><br />
                                            </td>
                                            <td>
                                                 <span>Hành lý</span><br />
                                                <span class="price">700.000 đ</span><br />
                                            </td>
                                            <td class="total">7.200.000 VNĐ</td>
                                            </tr>
                                    </table>
                                        </div>
                                    <div class="item-flight">
                                       <table class="table header-info">
                                           <tr>
                                               <td class="rowdetail">Chiều đi</td>
                                               <td>từ <b>HÀ NỘI</b>  đến <b>TP HỒ CHÍ MINH</b></td>
                                               <td>thứ Tư ngày 29/06/2015</td>
                                               <td class="detail"><a href="javascript">Xem chi tiết</a></td>
                                           </tr>

                                       </table>
                                    <table class="table tableinfo">
                                        <tr>
                                                <td class="col-lg-1">
                                                    <img src="/images/fl-js.png">
                                                </td>
                                                <td class="col-lg-1">BL886</td>
                                                <td class="col-lg-3">HAN | <b>21:50</b></td>
                                                <td class="col-lg-3">SG | <b>23:50</b></td>
                                                <td class="col-lg-3"><b>1.500.000 VNĐ</b></td>
                                                
                                            </tr>
                                    </table>
                                    <table class="table tabledetail">
                                        <tr>
                                            <td>
                                                <span>Người lớn</span><br />
                                                <span class="countper">2 người</span><br />
                                                <span class="price">3.000.000 đ</span>
                                            </td>
                                            <td>
                                                <span>Trẻ em</span><br />
                                                <span class="countper">0</span><br />
                                            </td>
                                            <td>
                                                <span>Em bé</span><br />
                                                <span class="countper">0</span><br />
                                            </td>
                                            <td>
                                                <span>Thuế phí</span><br />
                                                <span class="price">700.000 đ</span><br />
                                            </td>
                                            <td>
                                                 <span>Hành lý</span><br />
                                                <span class="price">700.000 đ</span><br />
                                            </td>
                                            <td class="total">7.200.000 VNĐ</td>
                                            </tr>
                                    </table>
                                        </div>
                                </div>
                                <div class="flight-filter">
                                    <div class="infomation">
                                        VUI LÒNG ĐIỀN ĐẦY ĐỦ THÔNG TIN RỒI ẤN TIẾP TỤC
                                        <p>Quý khách có thể quay lại các bước trước</p>
                                    </div>
                                   
                                    <div class="row margintop20" style="margin-left:0;margin-right:0">
                                        <div class="col-xs-2 layout-btn-step">
                                            <a href="javascript:" class="btn-step visited">Tìm chuyến bay</a>
                                        </div>
                                        <div class="col-xs-2 layout-btn-step">
                                            <a href="javascript:" class="btn-step visited">Lựa chọn chuyến bay</a>
                                        </div>
                                        <div class="col-xs-2 layout-btn-step">
                                            <a href="javascript:" class="btn-step active">Thông tin khách hàng</a>
                                        </div>
                                        <div class="col-xs-2 layout-btn-step">
                                            <a href="javascript:" class="btn-step">Thanh toán</a>
                                        </div>
                                        <div class="col-xs-4 layout-btn-step">
                                            <a href="javascript:" class="btn-continue">Tiếp tục</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                               <div class="infomation-custom">
                                   <div class="title">THÔNG TIN KHÁCH HÀNG</div>
                                   <form class="form-horizontal">
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Người lớn </label>

										<div class="col-sm-6">
											<input type="text" id="form-field-1" placeholder="Tên người lớn" class="col-xs-10 col-sm-5 form-control">
										</div>
									</div>

                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Hành lý chiều đi </label>

										<div class="col-sm-4">
											<select class="form-control">
                                                <option>1</option>
											</select>
										</div>
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Hành lý chiều về </label>

										<div class="col-sm-4">
											<select class="form-control">
                                                <option>1</option>
											</select>
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Trẻ em </label>

										<div class="col-sm-4">
											<input type="text" id="" placeholder="Trẻ em" class="col-xs-10 col-sm-5 form-control">
										</div>
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Ngày sinh</label>

										<div class="col-sm-4">
											<input type="text" class="form-control" />
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Hành lý chiều đi </label>

										<div class="col-sm-4">
											<select class="form-control">
                                                <option>1</option>
											</select>
										</div>
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Hành lý chiều về </label>

										<div class="col-sm-4">
											<select class="form-control">
                                                <option>1</option>
											</select>
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Em bé </label>

										<div class="col-sm-4">
											<input type="text" id="" placeholder="Em bé" class="col-xs-10 col-sm-5 form-control">
										</div>
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Ngày sinh</label>

										<div class="col-sm-4">
											<input type="text" class="form-control" />
										</div>
									</div>
                                    <div class="title">THÔNG TIN LIÊN HỆ</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Họ tên</label>

										<div class="col-sm-10">
											<input type="text" placeholder="Họ tên" class="col-xs-10 col-sm-5 form-control">
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Số điện thoại </label>

										<div class="col-sm-5">
											<select class="form-control">
                                                <option>1</option>
											</select>
										</div>
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Quốc gia</label>

										<div class="col-sm-3">
											<select class="form-control">
                                                <option>1</option>
											</select>
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Email</label>

										<div class="col-sm-5">
											<input type="text" placeholder="Email" class="col-xs-10 col-sm-5 form-control">
										</div>
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">Thành phố</label>

										<div class="col-sm-3">
											<input type="text" placeholder="Thành phố" class="col-xs-10 col-sm-5 form-control">
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Địa chỉ</label>

										<div class="col-sm-10">
											<input type="text" placeholder="Địa chỉ" class="col-xs-10 col-sm-5 form-control">
										</div>
									</div>
                                        <div class="form-group">
                                            <label class="col-sm-2">
													</label>
                                            <label class="col-sm-5">
														<input name="form-field-checkbox" class="custom custom-checkbox-2" type="checkbox">
														<span class="lbl">Xuất hóa đơn</span>
													</label>
                                            </div>
                                       <div class="form-group">
                                            <div class="col-sm-12">
                                                Quý khách muốn lấy hóa đơn giá trị gia tăng phải liên hệ với Royalexpress trong vòng 7 ngày kể từ thời điểm thanh toán hóa đơn. Quý khách vui lòng nhập tiếng việt có dấu để tránh việc xuất hóa đơn sai.
													</div>
                                            
                                            </div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Tên công ty</label>

										<div class="col-sm-5">
											<input type="text" placeholder="Tên công ty" class="col-xs-10 col-sm-5 form-control">
										</div>
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">Mã số thuế</label>

										<div class="col-sm-3">
											<input type="text" placeholder="Mã số thuế" class="col-xs-10 col-sm-5 form-control">
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Địa chỉ 1</label>

										<div class="col-sm-10">
											<input type="text" placeholder="Địa chỉ (đăng ký kinh doanh)" class="col-xs-10 col-sm-5 form-control">
										</div>
									</div>
                                       <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="form-field-1">Địa chỉ 2</label>

										<div class="col-sm-10">
											<input type="text" placeholder="Địa chỉ (nhận hóa đơn)" class="col-xs-10 col-sm-5 form-control">
										</div>
									</div>
                                   </form>
                               </div>
                            </div>
                            
                            </div>
                    </div>

                    <div id="khachsan" class="tab-pane">
                    </div>


                </div>
            </div>
            <div id="modal-table" class="modal fade" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header no-padding">
												<div class="table-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
														<span class="white">&times;</span>
													</button>
													Vé bay từ Hà Nội đến TP Hồ Chí Minh
												</div>
											</div>

											<div class="modal-body">
    <table class="table detailflight">
        <tbody><tr>
    <td valign="top" style="text-align:left">
        <p>
            Từ <b>Hà Nội</b>, Việt Nam
        </p>
        <p>
            Sân bay
            : <b>Nội Bài (HAN)</b><br>
        </p>
        <p>
            <!---->
         Giờ bay: <b>23:40</b>, 13/06/2015
        </p>
    </td>
    <td valign="top" style="text-align:left">
        <p>
            tới <b>Hồ Chí Minh</b>, Việt Nam
        </p>
        <p>
            Sân bay
            : <b>Tân Sơn Nhất (SGN)</b>
        </p>
        <p>

            Giờ đến: <b>01:45</b>, 13/06/2015
        </p>
    </td>
    <td valign="top" style="text-align:left">
                                                                               <p>
            Hãng
            : <img src="/images/fl-vj.png">
            </p>
        
        <p>
            <!---->
            Mã chuyến bay: <b>VJ191</b>
        </p>
        <p>
            <!---->
            Hạng vé: <b>Eco</b>
        </p>
    </td>
</tr>
    </tbody></table>
    <table class="price-break table" style="border-top:1px solid #ccc;border-bottom:1px solid #ccc">
    <tbody><tr class="title-b">
        <td>Loại Hành Khách
        </td>
        <td>Số Lượng Vé
        </td>
        <td>Giá mỗi vé
        </td>
        <td>Thuế và phụ phí
        </td>
        <td>Tổng Giá
        </td>
    </tr>
        <tr>
    <td align="center" class="pax">
        Người lớn
    </td>
    <td align="center" class="pax">
        1
    </td>
    <td align="center" class="pax">
        1.030.000 VNĐ
    </td>
    <td align="center" class="pax">
    340.000 VNĐ
    </td>
    <td align="center" class="pax">
        1.370.000 VNĐ
    </td>
</tr>
        <tr class="total-b">
        <td class="footer">Tổng
        </td>
        <td class="pax">1
        </td>
        <td class="pax">1.030.000 VNĐ
        </td>
        <td class="pax">340.000 VNĐ
        </td>
        <td class="pax">1.370.000 VNĐ
        </td>
    </tr>
</tbody></table>
    <table class="table condition" style="margin:0 10px">
                <tbody><tr>
                <td class="col-xs-3" style="text-align:left">
                    <b>Thay đổi tên</b>
                </td>
                    <td class="col-xs-9" style="text-align:left">
                    Thu phí 352.000 VNĐ/chặng
                </td>
            </tr>
                <tr>
                <td class="col-xs-3" style="text-align:left">
                    <b>Thay đổi hành trình</b>
                </td>
                    <td class="col-xs-9" style="text-align:left">
                    Thu phí 352.000 VNĐ + chênh lệch giá vé (nếu có)
                </td>
            </tr>
                <tr>
                <td class="col-xs-3" style="text-align:left">
                    <b> Thay đổi ngày giờ bay</b>
                </td>
                    <td class="col-xs-9" style="text-align:left">
                    Thu phí 352.000 VNĐ + chênh lệch giá vé (nếu có)
                </td>
            </tr>
                <tr>
                <td class="col-xs-3" style="text-align:left">
                    <b>Hoàn vé</b>
                </td>
                    <td class="col-xs-9" style="text-align:left">
                    Không được phép
                </td>
            </tr>
                <tr>
                <td class="col-xs-3" style="text-align:left">
                    <b>Thời hạn thay đổi</b>
                </td>
                    <td class="col-xs-9" style="text-align:left">
                    12 tiếng trước giờ khởi hành
                </td>
            </tr>
                <tr>
                <td class="col-xs-3" style="text-align:left">
                    <b>Hành lý xách tay</b>
                </td>
                    <td class="col-xs-9" style="text-align:left">
                    7kg
                </td>
            </tr>
                <tr>
                <td class="col-xs-3" style="text-align:left">
                    <b>Hành lý ký gửi</b>
                </td>
                    <td class="col-xs-9" style="text-align:left">
                    Vui lòng chọn ở bước sau
                </td>
            </tr>
    </tbody></table>
											</div>

										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div>
        </div>
    </div>
</div>
<div class="container home-content">
    <div class="row margintop50">
    <div class="col-sm-6">
        <div class="title">Vé tốt trong kỳ</div>
        <p>Thỏa sức lựa chọn những vé máy bay rẻ nhất cùng chúng tôi</p>
    </div>
        <div class="col-sm-6" style="text-align:right;">
            <img src="/images/logo-flight.png" />
        </div>
        </div>
    <div class="row margintop30" >
    <div class="col-md-6">
        <div class="row marginbot20">
            <div class="col-xs-4 good-ticket active">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
        </div> 
        <div class="row marginbot20">
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
        </div> 
        <div class="row marginbot20">
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
            <div class="col-xs-4 good-ticket">
                <p class="flight">Hà Nội - HCM</p>
                <div class="price">Từ: 980.000 Đ</div>
                <div class="date">09/06/2015</div>
                <div class="info">Lễ hội hoa quả</div>
            </div>
        </div>    
    </div>
        <div class="col-sm-6">
            <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=679197728830537";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-post" data-href="https://www.facebook.com/RoyalExpress.Vn/posts/837329513000086" data-width="600"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/RoyalExpress.Vn/posts/837329513000086"><p>&#x110;&#x1eb7;t V&#xe9; Nhanh - Canh V&#xe9; T&#x1ed1;t !</p>Posted by <a href="https://www.facebook.com/RoyalExpress.Vn">Vé Máy Bay RoyalExpress.Vn</a> on <a href="https://www.facebook.com/RoyalExpress.Vn/posts/837329513000086">Tuesday, 9 June 2015</a></blockquote></div></div>
            <div style="margin-top:20px;text-align:center">
            <a href="#" class="btn btn-goodticket">Đặt vé !</a>
            <a href="#" class="btn btn-goodticket">Ghi nhớ !</a>
                </div>
            </div>
        </div>
    <div class="row margintop50">
    <div class="col-sm-12">
        <div class="title">Khám phá</div>
        <p>Hãy khám phá những địa điểm du lịch cùng chúng tôi</p>
    </div>
       
        </div>
    <div class="row grid margintop30">
        <div class="grid-sizer"></div>
  
  <div class="grid-item">
      <img src="/images/grid4.png" class="img-responsive" />
      <div class="caption">
          <div class="title">
              Đà nẵng
          </div>
           <div class="desciption">
              Đà Nẵng điểm đến lý tưởng hè 2015
          </div>
      </div>
  </div>
        <div class="grid-item">
            <img src="/images/grid5.png" class="img-responsive" />
        </div>
  <div class="grid-item">
      <img src="/images/grid4.png" class="img-responsive" />
  </div>
        <div class="grid-item grid-item--width2 grid-item--height2">
      <img src="/images/grid1.png" class="img-responsive"/>
  </div>
  <div class="grid-item">
      <img src="/images/grid2.png" class="img-responsive" />
  </div>
  <div class="grid-item">
      <img src="/images/grid3.png" class="img-responsive" />
  </div>
        <div class="grid-item">
            <img src="/images/grid5.png" class="img-responsive" />
        </div>
  <div class="grid-item grid-item--width2">
      <img src="/images/grid6.png" class="img-responsive" />
  </div>

        </div>
</div>

    
<script type="text/javascript">
    var date = new Date();
    date.setDate(date.getDate());
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true,
        startDate: date,
        setDate: date,
        numberOfMonths: 2,
    });
    var datedepart = new Date();
    var datearrive = new Date();
    datedepart.setDate(date.getDate() + 2);
    datearrive.setDate(date.getDate() + 9);
    $("#departuredate").datepicker("setDate", datedepart);
    $("#returndate").datepicker("setDate", datearrive);
    $(document).ready(function () {

        $('.grid').isotope({
            itemSelector: '.grid-item',
            percentPosition: true,
            masonry: {
                columnWidth: '.grid-sizer'
            }
        });

    });
        
</script>
